#table{
    position: absolute;
    top:20%;
    width: 100%;
    height: 100%;
    color: aliceblue;
}

#lamp{
    position:absolute;
    left: 53%;
    top: 10%;
    display: flex;
    flex-direction:column;
    align-items: center;

}

#lampTop{
    background-color: rgb(159, 157, 188);
    width: 150px;
    height: 100px;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    animation: bounce 2s ease-in-out infinite;

}

#lampBottom{
    background-color: antiquewhite;
    width: 50px;
    height: 150px;
    
}

#tape{
    position: absolute;
    left: 28%;
    top:37%;
    width: 100px;
    height: 100px;
    background: rgb(30, 23, 134);
    border-radius: 50%
}

#bread{
    position:absolute;
    left: 45%;
    top: 40%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

#breadTop{
    width: 50px;
    height: 50px;
    background: rgb(159, 157, 188);
    border-radius: 50%;
    animation: bounce 2s ease-in-out infinite;
    
}

#breadBottom{
    
    background-color: antiquewhite;
    width: 80px;
    height: 120px;
}

#eightBall{
    position: absolute;
    left: 15%;
    top:55%;
    width: 100px;
    height: 100px;
    background: rgb(1, 1, 8);
    border-radius: 50%;
    animation: bounce 2s ease-in-out infinite;
}


#pear{
    position: absolute;
    left: 63%;
    top:45%;
    width: 200px;
    height: 100px;
    background: rgb(231, 192, 142);
    border-radius: 100px / 50px;
    rotate: 130deg;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }


/* #collection {
    position: relative;
    padding-top: 50px;
    height: 100vh;
  }


.star {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotateStar 2s linear infinite;
}

@keyframes rotateStar {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} */