html{
    font-family: "pt-mono", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color:rgb(7, 7, 7);
    background-color: rgb(255, 255, 255);
    align-items: center;
  }

  /* Main Part */
.container{
  position: absolute;
}

#text1{
  position: absolute;
width: 580px;
height: 30px;
left: 38px;
top: 52px;
}

#text2{
  position: absolute;
width: 124px;
height: 24px;
left: 936px;
top: 52px;
}

#text3{
  position: absolute;
width: 1174px;
height: 74px;
left: 38px;
top: 102px;
}

#text4{
  position: absolute;
width: 751px;
height: 77px;
left: 38px;
top: 207px;
}

#text5{
  position: absolute;
width: 291px;
height: 22px;
left: 852px;
top: 247px;
}

#text6{
  position: absolute;
width: 1174px;
height: 34px;
left: 38px;
top: 315px;
}

#text7{
  position: absolute;
width: 817px;
height: 23px;
left: 231px;
top: 400px;
letter-spacing: 0.55em;
}

#text8{
  position: absolute;
width: 1174px;
height: 213px;
left: 38px;
top: 500px;
}

#text9{
  position: absolute;
width: 440px;
height: 30px;
left: 38px;
top: 777px;
}

#text10{
  position: absolute;
width: 203px;
height: 23px;
left: 430px;
top: 888px;
}

#text11{
  position: absolute;
width: 619px;
height: 18px;
left: 580px;
top: 986px;
}

  /* Anchored Menu */

  .menu{
    position: fixed;
  
  }

#inlife{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 3px;
}

#inpoetry{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 111px;
}

#theword{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 222px;
}

#mind{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 333px;
}

#ideas{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 444px;
}

#asentence{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 555px;
}

#semicolons{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 666px;
}

#theend{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 777px;
}

#ad{
  position: absolute;
  width: 500px;
  height: 84px;
  left: 1300px;
  top: 888px;
}

#sleep{
  position: absolute;
  width: 323px;
  height: 84px;
  left: 1300px;
  top: 1000px;
}

/* Content */
